.objectPropertyContainer {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
}
.editorPointContainer {
  height: calc(100vh - 366px);
}
.editorLineContainer {
  height: calc(100vh - 403px);
}
.editorPlainContainer {
  height: calc(100vh - 440px);
}
.viewerPointContainer {
  height: calc(100vh - 309px);
}
.viewerLineContainer {
  height: calc(100vh - 346px);
}
.viewerPlainContainer {
  height: calc(100vh - 383px);
}

.propertyContainerTitleBox {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray_50);
  position: relative;

  .plusBtnContainer {
    height: 24px;
    width: 24px;
  }
}

.objectPropertyList {
  padding: 16px 10px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 16px;
}
.addPropertyPopUp {
  position: absolute;
  right: 16px;
  top: 52px;
  z-index: 10000;
}

.noneOfObjectSelected {
  color: var(--gray_400);
}
.plusBtnContainer:disabled:hover {
  cursor: auto;
}
