.objectBasicInfoContainer,
.basicInfoContainer {
  display: flex;
  flex-direction: column;
}

.objectBasicInfoContainer {
  padding: 16px;
  gap: 20px;
  border-bottom: 1px solid var(--gray_50);
}

.basicInfoContainer {
  gap: 16px;
}

.basicInfoTextContainer {
  display: flex;
  justify-content: space-between;
}
.infoValue {
  width: 190px;
  font-size: 14px;
}

.disabledBasicInfoContainer,
.disabledBasicInfoContainer span {
  color: var(--gray_400);
}
