.objectOutlineBtn {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  align-items: center;

  span {
    font-size: 14px;
  }

  &:hover {
    background: var(--gray_25);
  }
}

.selectedObjectOutlineBtn {
  background: var(--gray_50);

  &:hover {
    background: var(--gray_50);
  }
}
