.timeLineContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.leftBarWrapper {
  display: flex;
  flex-direction: row;
}

.authContainer {
  position: absolute;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
