.titleBar {
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.refreshBtn {
  display: flex;
  width: 70px;
  height: 40px;
  padding: 7px 8px 6px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-size: 18px;
  color: var(--gray_500);

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.editorProfiles {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
