@font-face {
  font-family: 'Freesentation-SemiBold';
  src: url('../../../assets/fonts/Freesentation-SemiBold.woff') format('woff');
  font-weight: normal;
  font-size: normal;

  @font-face {
    font-family: 'Freesentation-Regular';
    src: url('../../../assets/fonts/Freesentation-Regular.woff') format('woff');
    font-weight: normal;
    font-size: normal;
  }
}

.titleBar {
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Freesentation-SemiBold', sans-serif;
  font-size: 20px;
  font-weight: 600px;
  line-height: 30px;
}

.refreshBtn {
  display: flex;
  width: 70px;
  height: 40px;
  padding: 7px 8px 6px 8px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.refreshBtnContent {
  font-family: 'Freesentation-Regular', sans-serif;
  font-size: 18px;
  color: #767d86;
  white-space: nowrap;
}
