.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.banner {
  width: calc(100vw - 668px);
  height: 100%;
  object-fit: cover;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 100vh;
  }
}
.loginPanel {
  width: 668px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.welcomeContainer {
  align-items: center;
  text-align: center;
  gap: 12px;
}
.logo {
  width: 44px;
  height: 44px;
}
.welcome__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;

  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 72px;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
  }
}
