.welcomeContainer,
.welcome__textContainer,
.signUpContainer,
.userDataContainer,
.userDataInputContainer,
.userDataInputContainer > div,
.inputContainer {
  display: flex;
  flex-direction: column;
}

.signUpContainer {
  gap: 32px;
}

.userImg {
  position: relative;
}
.profileEditBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #ebeef2;

  img {
    width: 20px;
    height: 20px;
  }
}

.userImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userDataContainer {
  gap: 44px;
}
.userDataInputContainer {
  gap: 20px;

  .inputContainer {
    gap: 5.5px;
  }
}

input {
  width: 380px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fbfcfd;
  border-radius: 8px;
  border: 1px solid #f2f5f8;
}
input:focus {
  border-color: #00bd57;
}
input::-webkit-input-placeholder {
  color: #a3abb3;
}

.valueInfoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.valueInfo {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    font-size: 14px;
    color: #767d86;
  }
}

.signUpBtn:disabled {
  padding: 12px 0;
  border-radius: 8px;
  background: #ced3da;
  cursor: auto;

  span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
}
