/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
:root {
  --main : #00BD57;
  --sub : #CCF2DD;
  --error : #FF4B12;
  --hover : #00A84D;
  --edit_red : #FF4B12;
  --edit_yellow : #FFA011;
  --edit_blue : #0085FF;
  --edit_purple : #821FFF;
  --white : #FFFFFF;
  --gray_25 : #FBFCFD;
  --gray_50 : #F2F5F8;
  --gray_100 : #EBEEF2;
  --gray_150 : #DCE2E7;
  --gray_200 : #CED3DA;
  --gray_300 : #B7C0C9;
  --gray_400 : #A3ABB3;
  --gray_500 : #767D86;
  --gray_600 : #4B535A;
  --gray_700 : #3A4149;
  --gray_800 : #2C2F34;
  --gray_900 : #232629;
  --black : #111111;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Freesentation', Arial, sans-serif;
  font-weight: 400;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Freesentation', Arial, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

input {
  outline: none;
}
button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input {
  line-height: 150%;
}
