@font-face {
  font-family: Freesentation;
  src: url('../../assets/fonts/Freesentation-Bold.woff');
}

@font-face {
  font-family: Freesentation;
  src: url('../../assets/fonts/Freesentation-Regular.woff');
}

@font-face {
  font-family: Freesentation;
  src: url('../../assets/fonts/Freesentation-SemiBold.woff');
}

.UserInfoBar {
  width: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid #f2f5f8;
}

.UserPhoto {
  width: 120px;
  height: 120px;
  background-color: #ebeef2;
  margin-top: 72px;
  border-radius: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.ProfilePerson {
  width: 90px;
  height: 90px;
  margin-top: 30px;
}

.UserName {
  margin-top: 4px;
  min-width: 111px;
  width: auto;
  min-height: 64px;
  height: auto;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.UserName h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  font: 'Freesentation';
}

.UserName span {
  size: 18px;
  font-weight: 400;
  line-height: 27px;
  font: 'Freesentation';
  color: #767d76;
}

.UserProfileNumber {
  margin-top: 12px;
  min-width: 216px;
  width: auto;
  min-height: 72px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.UserProfilBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.UserProfileBox span {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.ProfileBottom {
  margin-top: 20px;
  width: 260px;
  height: 32px;
  background-color: #f2f5f8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
