.container {
  display: flex;
  z-index: 10;
}

.LeftSideBar {
  width: 72px;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px;
  border-right: 1px solid var(--gray_50);
}

.iconContainer {
  width: 48px;
  height: 48px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.logoIconContainer {
  width: 48px;
  height: 48px;
  background-color: var(--main);
  margin-bottom: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoIconContainer::after {
  content: '';
  position: absolute;
  bottom: -12px; /* 아이콘 아래로 10px 떨어진 곳에 border 추가 */
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--gray_50);
}

.icon {
  color: var(--white);
  font-size: 24px;
}

.link {
  text-decoration: none;
}

.main {
  flex-grow: 1;
  // padding: 16px;
}

.bottomIconContainer {
  margin-top: auto;
  cursor: pointer;
}

.authContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.iconContainer_on {
  background-color: var(--gray_50);
}

.iconContainer_off {
  background-color: var(--white);
}

